/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Colors */
.blue {
  background-color: #3f91e0;
}

.red {
  background-color: #ae1812;
}

.orange {
  background-color: #efb81e;
}

.font_blue {
  color: #3f91e0 !important;
}

.font_red {
  color: #ae1812 !important;
}

.font_orange {
  color: #efb81e !important;
}

body, html, .section, .slide {
  height: 100%;
  width: 100%;
}

body, p {
  color: #e2e2e2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

/* unvisited link */
a:link,
a:visited {
  color: #e2e2e2;
  font-weight: bolder;
  font-size: 1.33em;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #efb81e !important;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #ae1812 !important;
  text-decoration: none;
}

a.active, a:focus {
  color: #3f91e0 !important;
  text-decoration: none;
}

.navbar-bg {
  background-color: rgba(57, 57, 57, 0.9);
  color: #e2e2e2;
  border-bottom: 2px solid #ae1812;
}

.adminnav {
  background-color: rgba(174, 24, 18, 0.9);
  color: #393939;
  margin-top: 7vh;
  height: 6vh;
  width: 100%;
  z-index: 900;
  position: fixed;
}

#section0 {
  min-height: 100vh;
  width: 100%;
  background-image: url("../img/easvcom.png");
  background-size: cover;
}

#section1 {
  min-height: 100vh;
  width: 100%;
  background-image: url("../img/com.jpg");
  background-size: cover;
}

#section3 {
  background-color: orange;
}

#section4 {
  min-height: 100vh;
  width: 100%;
  background-image: url("../img/building.jpg");
  background-size: cover;
}

.forum {
  min-height: 100vh;
  width: 100%;
  background-image: url("../img/building.jpg");
  background-size: cover;
}

.slide {
  min-height: 100vh;
  width: 100%;
  background-image: url("../img/building.jpg");
  background-size: cover;
}

.slider {
  margin-top: 20vh;
}

.slog1 {
  margin-left: 35%;
  margin-top: 20vh;
  position: absolute;
  width: 25%;
  height: 7vh;
  background-color: #393939;
  border: 2px solid #ae1812;
  text-align: center;
  color: #ae1812;
}

.slog2 {
  margin-left: 15%;
  margin-top: 35vh;
  position: absolute;
  width: 25%;
  height: 7vh;
  background-color: #393939;
  border: 2px solid #efb81e;
  text-align: center;
  color: #efb81e;
}

.slog3 {
  margin-left: 55%;
  margin-top: 35vh;
  position: absolute;
  width: 25%;
  height: 7vh;
  background-color: #393939;
  border: 2px solid #3f91e0;
  text-align: center;
  color: #3f91e0;
}

.slog1 h2,
.slog2 h2,
.slog3 h2 {
  padding-top: 10px;
  font-weight: bolder;
}

.welcome h1 {
  font-weight: bolder;
}

.welcome h3 {
  color: #efb81e;
}

.welcome {
  margin-top: 85vh;
  height: 15vh;
  width: 100%;
  border-top: 2px solid #3f91e0;
  border-bottom: 2px solid #3f91e0;
  text-align: center;
  padding: 3vh;
  color: #e2e2e2;
  position: absolute;
  background-color: rgba(57, 57, 57, 0.7);
  z-index: 100;
}

.hotties {
  top: 50vh;
  position: absolute;
  width: 100%;
  height: auto;
  display: block;
}

.hot_threads, .latest_threads, .latest_posts {
  width: 20%;
  height: auto;
  background-color: rgba(57, 57, 57, 0.7);
  float: left;
  margin-left: 10%;
  margin-top: 2.5vh;
  border: 1px solid black;
  -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.4);
}

.headline {
  height: 4vh;
  text-align: center;
  color: #393939;
  padding: 0.5vh;
}

.headline h4 {
  font-weight: bolder;
}

.infos_headline {
  width: 100%;
  height: 4vh;
  border: 1px solid black;
  display: block;
  padding: 5px;
  background-color: rgba(226, 226, 226, 0.7);
  color: black !important;
}

.headline1, .headline2 {
  float: left;
}

.headline1 {
  width: 60%;
  margin-left: 5%;
}

.headline2 {
  width: 35%;
  text-align: center;
}

.info_line {
  width: 100%;
  border: 1px solid black;
}

.firstInfo a {
  font-size: 1em !important;
}

.firstInfo, .secondInfo {
  float: left;
}

.firstInfo {
  width: 60%;
  margin-left: 5%;
  margin-top: 2%;
  color: #e2e2e2;
  border-bottom: 1px solid black;
}

.secondInfo {
  width: 35%;
  margin-top: 2%;
  color: #e2e2e2;
  text-align: center;
}

.social {
  text-align: center;
  font-size: 16px;
  padding-bottom: 5px;
}

.social-login {
  text-align: center;
  font-size: 12px;
}

.social-login p {
  margin: 15px 0;
}

.social-login ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-login ul li {
  width: 33%;
  float: left;
  clear: fix;
}

.social-login ul li a {
  font-size: 13px;
  color: #fff !important;
  text-decoration: none;
  padding: 10px 0;
  display: block;
}

.social-login ul li a:hover {
  font-size: 13px;
  color: black !important;
  text-decoration: none;
  padding: 10px 0;
  display: block;
}

.social-login ul li:nth-child(1) a {
  background: #3b5998;
}

.social-login ul li:nth-child(2) a {
  background: #e74c3d;
}

.social-login ul li:nth-child(3) a {
  background: #3698d9;
}

.abouts {
  padding-top: 20vh;
}

.category_head {
  height: 6vh;
  background-color: #ae1812;
  color: #e2e2e2;
  font-weight: bolder;
  padding: 10px;
  font-size: 1.333em;
}

.category_head li a:hover {
  color: #3f91e0 !important;
  text-decoration: none;
}

.cat_active {
  color: #efb81e;
  font-weight: bolder;
  font-size: 1.333em;
}

.category_headline {
  height: 5vh;
  background-color: #393939;
  color: #e2e2e2;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #ae1812;
}

.cat_border {
  border: 1px solid #ae1812 !important;
}

.forum_rows {
  padding: 10px;
  background-color: rgba(57, 57, 57, 0.7);
  height: 7.5vh;
  color: #e2e2e2 !important;
  border-bottom: 1px solid #efb81e;
}

.forum_rows2 {
  padding: 10px;
  background-color: rgba(57, 57, 57, 0.7);
  height: 6vh;
  color: #e2e2e2 !important;
  border-bottom: 1px solid #efb81e;
}

.forum_rows3 {
  padding: 10px;
  background-color: rgba(57, 57, 57, 0.9);
  height: auto;
  color: #e2e2e2 !important;
  border-bottom: 1px solid #efb81e;
  font-weight: 400;
}

.forum_rows a {
  color: #e2e2e2 !important;
  text-decoration: none !important;
}

.forum_rows a:hover {
  color: #3f91e0 !important;
  text-decoration: none !important;
}

.pagination_and_button {
  padding: 15px;
  height: 5vh;
  background-color: #ae1812;
  text-align: right;
}

.btn-newThread a:hover, .btn-newThread2 a:hover {
  color: white;
}

.button, input[type=submit] {
  text-align: center;
  padding: 5px;
  background-color: #393939 !important;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  font-size: 1em !important;
  color: #e2e2e2;
  font-weight: bolder;
}

input[type=submit] {
  color: #e2e2e2;
}

.button a, .newThread2 a:hover {
  font-size: 1em !important;
  text-decoration: none !important;
}

main {
  margin-top: 5vh;
}

.center, h3.center {
  text-align: center !important;
}

.rows {
  display: inline-table;
  height: auto;
}

.userdetails {
  text-align: center;
}

.line {
  width: 100%;
  height: 3vh;
  border: 1px solid black;
  margin-bottom: 2%;
  background-color: rgba(0, 0, 0, 0.5);
}

.line:nth-child(n+2) {
  text-align: left;
  padding-left: 30%;
}

.line2 {
  padding-left: 30%;
  text-align: left;
  width: 100%;
  height: 3vh;
  border: 1px solid black;
  margin-bottom: 2%;
  background-color: rgba(57, 57, 57, 0.5);
}

.picture {
  width: 100%;
  height: auto !important;
  margin-bottom: 2%;
}

img {
  border: 2px solid #ae1812 !important;
}

.textbg {
  background-color: #393939;
  border: 1px  solid black;
  color: #e2e2e2 !important;
}

.threadText {
  padding: 1%;
  color: #e2e2e2 !important;
}

.title {
  font-size: 1.333em;
  font-weight: bolder;
}

.fa, .fas {
  color: #3f91e0 !important;
}

.hidden {
  display: none;
}

.tool {
  cursor: help;
  position: relative;
}

.tool::before, .tool::after {
  position: absolute;
  left: 50%;
  opacity: 0;
  z-index: -100;
}

.tool:hover::before, .tool:focus::before, .tool:hover::after, .tool:focus::after {
  opacity: 1;
  z-index: 100;
}

.tool::before {
  border-style: solid;
  border-width: 1em .75em 0 .75em;
  border-color: #3f91e0 transparent transparent transparent;
  bottom: 100%;
  margin-left: -.5em;
  content: " ";
}

.tool::after {
  background: #3e474f;
  border-radius: .25em;
  bottom: 145%;
  color: white;
  font-size: 12px;
  width: auto;
  padding: 1em;
  margin-left: -8.75em;
  content: attr(data-tip);
  border: 1px solid #3f91e0;
}

.error {
  background-color: rgba(174, 24, 18, 0.5);
  text-align: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  font-size: 1.22em;
  color: #e2e2e2;
  padding: 5px;
  border: 1px solid #ae1812;
}

.success {
  background-color: rgba(0, 128, 0, 0.5);
  text-align: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  font-size: 1.22em;
  color: #e2e2e2;
  padding: 5px;
  border: 1px solid #ae1812;
}

input[type="file"] {
  display: none;
}

input[type=text], input[type=password], input[type=email], textarea {
  background-color: #393939;
  border: 1px solid black;
  color: #efb81e;
  height: 4vh;
}

.textInput {
  height: auto;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.spaces {
  margin-top: 5%;
  margin-bottom: 5%;
}

.spacer {
  height: 1vh;
}

.error a, .success a {
  font-size: 1em;
}

.seperator {
  height: 2vh;
  width: 100%;
  border-bottom: 1px solid #efb81e;
  background-color: red;
}

.bt {
  margin-top: -3%;
}

.sp {
  height: 20px;
  width: 100%;
  margin-top: 17vh;
}
/*# sourceMappingURL=style.css.map */