$red: #bf0d0c;
$blue: #009ee1;
$yellow: #fabb2b;
$grey: #3e3f3e;
$lightgrey: #666666;
$mainfont: white;


html,body{height:100%;width:100%;padding:0px;margin:0px;color:$mainfont;background-color:$lightgrey; font-size: 1em;margin-top:5vh}

.nav_item{
    display:flex;flex-direction:row;align-items:center;justify-content:center;
    height:54px;
    width:100px;
    color:$mainfont;
    font-weight:bolder;
  }
  
  a:link,a:hover,a:active,a:visited,a:hover{
    display:flex;flex-direction:row;align-items:center;justify-content:center;
    height:54px;
    width:100px;  
    color:white;
    text-decoration:none;
  }
  a:hover,a:focus{

  }
  .home_link:hover,a:focus,a:active,a:visited,a:hover{
    background-color:$red !important;
  }
  
  

.section{height:100%;width:100%;padding:0px;margin:0px;text-align:center;}

.navigation{top:0;position:fixed;width:100%;min-height:50px;height:5vh;max-height:100px;
            background-color:$grey;display:flex;flex-direction:row;align-items:center;z-index:150;border-bottom:2px solid $red; font-size: 1.3em;}
.logo{margin-left:10%;width:15%;}
.nav{margin-left:5%;width:70%;display:flex;flex-direction:row;}
.nav_item{}
.home,.forum,.rules,.about,.contact{width:100%;min-height:315px;height:100vh;max-height:100vh;}
.admin_panel{margin-right:10%;width:15%;}

.opening{width:100%;min-height:250px;height:60vh;max-height:60vh;background-color:$lightgrey;
         display:flex;flex-direction:row;justify-content:center;align-items:center;}
.welcome{background-color:$grey;height:70%;width:60%;min-width:300px;max-width:900px;margin-right:25px}
.login{background-color:$grey;height:70%;width:20%;min-width:220px;max-width:350px;}

.hotties{width:100%;min-height:115px;height:35vh;max-height:35vh;background-color:$grey;
         display:flex;flex-direction:row;justify-content:space-around}
.hot_topics,.last_topics,.last_posts{width:25%;height:80%;background-color:$lightgrey;margin-top:-35px;border:1px solid black}
.hot_topics_head,.last_topics_head,.last_posts_head{height:35px;width:100%;border-bottom:1px solid black;display:flex;align-items:center;justify-content:center}
.hot_topics_head{background-color:$yellow}
.last_topics_head{background-color:$blue;}
.last_posts_head{background-color:$red;}
.hot_topics_content,.last_topics_content,.last_posts_content{width:100%;height:calc(100% - 35px);}
.hot_rows{width:100%;height:30px;border-bottom:1px solid $grey;
                display:flex;flex-direction:row;justify-content:space-between;align-items:center;}
.hot_left{margin-left:2%}
.hot_right{margin-right:2%}


.cat{width:100%;height:100%;background-color:#d8d8d8}
.cat_menu{width:100%;height:5vh;background-color:$lightgrey;margin-top:10vh}


@media all and (max-width: 720px) {
    .opening {min-height:98%;flex-direction:column;justify-content:space-around}
    .welcome{height:55%;min-width:100%;margin:0px}
    .login{height:40%;min-width:100%;}
    .hotties {margin-top:50px;min-height:98%;flex-direction:column;}
    .hot_topics,.last_topics,.last_posts{width:100%;;margin-top:0px}
}